aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
beautifultable==1.0.1
chardet==4.0.0
discord==1.7.3
discord.py==1.7.3
et-xmlfile==1.1.0
idna==3.3
multidict==6.0.2
openpyxl==3.0.9
typing-extensions==4.1.1
wcwidth==0.2.5
yarl==1.7.2
